.heart {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: url('heart.png') no-repeat;
  background-position: 0 0;
  animation: love-it 1s steps(28) infinite;
}

@keyframes love-it {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -2800px 0;
  }
}

h1 {
  position: fixed;
  top: 50%;
  left: 0;
  width: 100%;
  text-align: center;
  transform: translateY(-50%);
  font-family: Roboto, cursive;
  font-size: 40px;
  color: #c70012;
  padding: 0 20px;
  margin-top: 100px;
}
